<app-header [title]="'Tab1'"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Llistat</h2>

  <div *ngFor="let vacanca of vacances">
      <app-vacanca-card [vacanca]="vacanca" (onButtonClicked)="showDetails(vacanca)"></app-vacanca-card>
  </div>

  <ion-fab>
    <ion-fab-button routerLink="/new-vacanca">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
