<app-header [title]="'Tab1'"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-select placeholder="Select language"
      (ionChange)="handleChange($event)">
        <ion-select-option value="es">Castellano</ion-select-option>
        <ion-select-option value="ca">Català</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <h2>{{ 'list_vacanca' | translate }}</h2>
  <h2>{{title}}</h2>

  <div *ngFor="let vacanca of vacances">
      <app-vacanca-card [vacanca]="vacanca" (buttonClicked)="showDetails($event)"></app-vacanca-card>
  </div>

  <ion-fab>
    <ion-fab-button (click)="goToNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
