<app-header [title]="'Tab1'"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>

    <input type="text" id="test" />

    <h3>El resultado es: {{result}}</h3>

    <div>
      <ion-button (click)="setResult()">Calcula Promise</ion-button>
    </div>
    <div>
      <ion-button (click)="setResultAsync()">Calcula Promise Async</ion-button>
    </div>
    <div>
      <ion-button (click)="setResultObservable()">Calcula Observable</ion-button>
    </div>

  </div>

</ion-content>
